.menu{

  .show-items-menu{
    display: flex;
    position: absolute;
    justify-content: center;
    top:50px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    box-shadow: 8px 8px 60px 0px rgba(0,0,0,0.6);
    border-radius: 5px;
    z-index: 5;
    padding: 0;
  }
  &__icon{
    cursor: pointer;
    background-image: url('~src/assets/images/icon-hamburger.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
    @media (min-width: 890px) {
      display: none;
    }
  };
  .closeIcon{
    background-image: url('~src/assets/images/icon-close.svg');
    width: 20px;
    height: 20px;
    padding-right: 5px;
  }
  &__list{
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 890px) {
      display: none;
      flex-direction: column;
    }
    @media (min-width: 890px) {
      display: flex;
    };
    &__items{
      margin: 10px
    }
  }

};
