@import "../../../../assets/styles/variables.scss";

.banner{
  height: 90vh;
  width: 100%;
  background: $white;
  position: relative;
  &__info{
    position: absolute;
    width: 380px;
    z-index: 1;
    top: 20%;
    left: 10%;
    h1{
      margin-top: 0;
      font-weight: 100;
      letter-spacing: 2px;
      font-size: 45px;
    }
  };
};
