@import "../../../../assets/styles/variables.scss";

.banner{
  height: 90vh;
  width: 100%;
  background: $white;
  position: relative;
  &__info{
    position: absolute;
    width: 380px;
    z-index: 1;
    top: 20%;
    left: 10%;
    h1{
      margin-top: 0;
      font-weight: 100;
      letter-spacing: 2px;
      font-size: 45px;
      margin-bottom: 10px;
    }
    @media (max-width: 920px) {
      position: relative;
      width: 90%;
      top: -110PX;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      h1{
        margin-bottom: 5px;
      }
      p{
        text-align: center
      }
    }
    @media (max-width: 510px) {
      h1{
        letter-spacing: 0px;
      }
      top: -270PX;
    }
    @media (max-width: 470px) {
      top: -320PX;
    }
    @media (max-width: 430px) {
      top: -400PX;
    }
  };
  @media (max-width: 920px) {
    height: 50vh;
  }
};
